/* base */
* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}

body {
   font-size: 10px;
   background-color: rgb(255, 245, 177);
}

section {
   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
   text-align: center;
   font-size: 2.5rem;
}

input {
   width: 0;
   height: 0;
   visibility: hidden;
}
strong{

display:none;
}
label {
   display: block;
   cursor: pointer;
}



.label-title {
   flex: 1 1 auto;
   font-weight: 600;
   padding: 5px 0;
   display: block;
   color: rgb(89, 89, 253);

}

/*      classes     */
.wrapper {
   margin: 0 auto;
   max-width: 500px;
}

.item {
   font-size: 2.3rem;

}

.label-wrapper {
   border-top: 1px solid rgba(0, 0, 0, 0.504);
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.ico {
   background-size: contain;
   background-repeat: no-repeat;
   width: 25px;
   height: 25px;
   display: none;
}

.label-content {
   width: 100%;
   display: flex;
   align-items: center;
}

.content {

   max-height: 0px;
   overflow: hidden;
   transition: all .5s ease-out;
   cursor: pointer;
   margin: 10px auto;

}

.content:last-child {
   margin-bottom: 0;
}

/*     media    */



@media (min-width: 769px) {
strong{
   display: block;
   text-align: center;
   margin: 0 auto;
   font-size: 2rem;
}
   .wrapper-content:hover label {
      transition: all ease-in-out 0.3s;
      color: black;
   }

   .wrapper-content:hover .label-wrapper>.ico {
      transition: all 0.3s ease-in-out;

      display: block;
      background-image: url(img/add.png);
   }

   .item:hover>label>.content {
      max-height: 300px;
      display: block;
   }

   .item:hover>.label-wrapper>.ico {
      transition: all 0.3s ease-in-out;
      background-image: url(img/added.png);
   }

   input:checked~label>.content {
      max-height: 300px;
      display: block;
   }


}

@media (max-width: 768px) {
   input:checked~label>.content {
      max-height: 320px;
      display: block;
   }

   .item {
      font-size: 2.4rem;

   }
   .label-wrapper>.ico {
      transition: all 0.3s ease-in-out;

      display: block;
      background-image: url(img/add.png);
   }

}

@media (max-width: 430px) {
   input:checked~label>.content {
      max-height: 340px;
      display: block;
   }

   div {
      margin: 0;
   }


   .item {
      font-size: 2.5rem;

   }
}

/* base animation */
input[type="radio"]:checked~.label-wrapper>label {
   color: black;
}

input[type="radio"]:checked~.label-wrapper>.ico {
   transition: all .2s ease-in-out;
   display: block;
   background-image: url(img/added.png);
}